 
 
 <div class="row">
  <!--Nav Bar------------------------------------------------------------>
  <div class="col">
    <div class="continer_fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only1"></span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#myModal">Input Data <span class="sr-only2"></span></a>

            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class="row">
  <!-- Heading &  Logo ------------------------------------------------------------>
  <div class="col">
    <div class="container">
     <app-logo></app-logo>
    </div>
  </div>
</div>

<div class="row">
  <!--Main image (3) -------------------------------------------------------------->
  <div class="col">
    <div class="container">
      <app-carousel> </app-carousel>
    </div>
  </div>
</div>


<div class="container">
  <!-- Button to Open the Modal -->
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
    Open modal
  </button>

  <button type="button" id="refresh" class="btn btn-primary">
    Refresh Page
  </button>

</div>
<!----------------------------------------------------------------------------------->


<div class="row">
  <!--Detail images  ---------------------------------------------------------------->
  <div class="col">
    <app-detail-list></app-detail-list>
  </div>
</div>


